connection0.name=GraphDB
connection0.service=http://localhost:7200/repositories/repo
connection0.update.service=http://localhost:3030/fuseki/sparql
connection0.user=
connection0.password=
iguana.cc.connections=connection0
dataset0.name=geology_target
iguana.cc.datasets=dataset0
task0.class=org.aksw.iguana.tp.tasks.impl.stresstest.Stresstest
sparql1=1,org.aksw.iguana.tp.tasks.impl.stresstest.worker.impl.SPARQLWorker,180000,queries.txt,0,0
task0x.timeLimit=3600000
task0x.queryHandler=org.aksw.iguana.tp.query.impl.PatternQueryHandler, http://localhost:6666/blazegraph/sparql
task0x.workers=sparql1
task0x.warmupTime=0
task0x.warmupQueries=queries.txt
task0.constructorArgs=task0x.timeLimit,task0x.queryHandler,task0x.workers,task0x.warmupTime,task0x.warmupQueries,task0x.warmupUpdates
iguana.cc.tasks=task0

